.loading-circle-container {
  position: fixed;
  inset: 0;
  background: #000014;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  clip-path: circle(100% at 50% 50%);
  opacity: 1;
  transition:
    clip-path 0.8s ease-in-out,
    opacity 0.4s ease-in-out;

  &.shrink {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
    pointer-events: none;
  }
}

.loader {
  --s: 24px;
  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at calc(100% - var(--_d)) var(--_d),
    #0ff 135deg,
    #444 0 270deg,
    #222 0
  );
  animation: l6 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}

@keyframes l6 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
